.title {
    text-align: center;
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .listItem:hover {
    background-color: #f9f9f9;
  }